dem/*/*.o
dem/*/run
dem/*/see
dem/*/lookShape
dem/*/libPBC3D.a
dem/*/*/conf*
*.DS_Store
mpm/2D/build/*
dem/3D_snow/CONVERT/
dem/3D_snow/CONVERT_OLD_I23/
dem/3D_snow/I23_sim/
dem/Yade.pdf
dem/contactinter_PH.pdf
dem/snow_prepro/
mpm/2D/Examples/Old/Simple/
mpm/2D/Examples/blockTestDel/